.header {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #6B1F1F;
    text-align: center;
}

.menu {
    margin: 0 auto;
    max-width: 1100px;
    padding: 22px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo .img{
    width: 20rem;
    /* max-width: 300px;
    min-width: 100px; */
}

.nav {
    display: flex;
    gap: 80px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav .a {
    padding-top: .1rem;
    text-decoration: none;
    color: #fff;
}

.nav .a:hover {
    color: #b2b2b2;
}
@media (max-width: 1128px){
    .a {
        padding-right: .5rem;
    }
}
@media (max-width: 890px){
    .logo .img{
        width: 16rem;
        /* max-width: 300px;
        min-width: 100px; */
    }
    .nav {
        /* border: 2px solid blue; */
        justify-content: end;
        width: 400px;
        gap: 60px;
        font-size: 17px;
    }
}
@media (max-width: 700px){
    .nav{
        width: 350px;
    }
}
@media (max-width: 600px){
    .nav {
        /* border: 2px solid blue; */
        justify-content: end;
        width: 350px;
        gap: 60px;
        font-size: 13px;
    }
}
@media (max-width: 550px){
    .menu {
        padding: 19px 0px;
    }
    .nav{
        width: 325px;
    }
}
@media (max-width: 500px){
    .nav{
        width: 300px;
    }
}
@media (max-width: 450px){
    .nav{
        width: 250px;
    }
}
@media (max-width: 400px){
    .nav{
        width: 220px;
        gap: 30px;
        font-size: 13px;
    }
}
@media (max-width: 350px){
    .nav{
        width: 205px;
        gap: 30px;
        font-size: 10px;
    }
}