@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --font-primary: 'Angkor', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}
main{
  max-width: 1100px;
  margin: 0 auto;
}
.hero_section {
  margin-top: 2rem;
  position: relative;
}
.hero_text_section {
  width: 100%;
  position: absolute;
  margin: 1.5rem auto;
  left: 50%;
  transform: translateX(-50%); 
}
  

.hero_text {
  max-height: 6rem;
  width: fit-content;
  /* border: 2px solid red; */
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.40);
  font-family: 'Angkor', serif;
  color: #FFF;
  text-align: center;
  font-size: 400%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0rem 1rem;
}
.hero_convince {
  width: fit-content;
  margin: 0 auto 1rem auto;
  background: rgba(0, 0, 0, 0.40);
  color:white;
  font-family: var(--font-secondary);
  /* border: 2px solid red; */
  text-align: center;
  text-transform: uppercase;
}
.hero_image_section {
  display: flex;
  width: 100%;
}
.hero_link {
  width: fit-content;
  display: flex;
  margin: 0 auto 0rem auto;
  border-radius: 3.4375rem;
  border: 1px solid #FFF;
  background: #343434;
  font-family: var(--font-second);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FFF;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
}
.menu_section {
  width: 100%;
  display: inline-flex;
  margin: 2.5rem 0 0rem 0;
  /* border: 2px solid red; */
  
}
.menu_text_section {
  width: 55%;
  /* border: 2px solid purple; */
  padding: 0rem 0rem 0rem 5.4rem;
  /*margin-left: 1rem;*/
}
.menu_header, .account_header{
  font-family: var(--font-primary);
  font-size: 3rem;
  margin-bottom: 1rem;
}
.menu_p, .account_p {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
}
.menu_image_section{
  width: 45%;
  /* border: 2px solid green; */
  padding: 2rem;
}
.menu_p {
  margin-bottom: 2rem;
  max-width: 365px;
}
.menu_button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.menu_link {
  border-radius: 3.4375rem;
  /* border: 2px solid blue; */
  background: #6B1F1F;
  font-family: var(--font-second);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FFF;
  padding: 0.65rem 5.75rem 0.65rem 5.75rem;
  text-align: center;
  
}


.test_title {
  margin: 3rem auto 2rem auto;
  text-align: center;
  color: #000;
  font-family: Angkor;
  font-size: 3rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.card_section {
  display: flex;
  justify-content: space-between;
  /*margin-top: 1rem;*/
}
.card1, .card3 {
  width: 21.48438rem;
  height: 28.79144rem;
  border-radius: 0.9375rem;
  background: linear-gradient(90deg, #6B1F1F 0%, #AE6969 50.24%, #6B1F1F 98.42%);
}
.card2 {
  width: 21.48438rem;
  height: 28.79144rem;
  border-radius: 0.9375rem;
  background: linear-gradient(90deg, #343434 0%, rgba(52, 52, 52, 0.68) 50.24%, #343434 98.42%);
}
.test_image {
  margin: 2rem auto 1rem auto;
  /*width: 8.05663rem;*/
}
.rate_margin {
  padding-bottom: 1rem;
}
.card_title {
  color: #FFF;
  margin: 0rem auto 1.5rem auto;
  text-align: center;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card_text {
  padding: 0 1.65rem 0 3rem;
  color: white;
  /*text-align: center;*/
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rate_image {
  margin: 2.2rem auto .5rem auto;
}
.rate_image2 {
  margin: 3.5rem auto .5rem auto;
}

.line {
  width: 100%;
  margin: 1.65rem auto 0 auto;
  border-top: 4px solid black;
}